<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://mybatis.org/schema/mybatis-spring 
http://mybatis.org/schema/mybatis-spring-1.2.xsd
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-4.0.xsd
http://www.springframework.org/schema/tx 
http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<!-- 数据源 -->
	<context:property-placeholder location="classpath:db.properties" />
	<bean id="dataSource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}"></property>
		<property name="jdbcUrl" value="${jdbc.url}"></property>
		<property name="user" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>
	
	<!-- 事务管理器 -->
	<bean id="dataSourceTransactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- 基于注解的事务管理 -->
	<tx:annotation-driven transaction-manager="dataSourceTransactionManager" />
	
	
	<!-- 
	  MyBatis-Plus 的集成非常简单，对于Spring,我们仅仅需要把 MyBatis 自带的MybatisSqlSessionBean 替换成Mp自带即可
	      原版:org.mybatis.spring.SqlSessionFactoryBean
	  MyBatis-Plus 版：
     -->
	
	<!-- 配置 SqlSessionFactoryBean -->
	<bean id="sqlSessionFactoryBean" class="com.baomidou.mybatisplus.spring.MybatisSqlSessionFactoryBean">
		<!-- 数据源 -->
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation"
			value="classpath:mybatis-config.xml"></property>
		<!-- 别名处理 -->
		<property name="typeAliasesPackage" value="com.atguigu.mp.beans"></property>
		<property name="globalConfig" ref="globalConfiguration"></property>
	</bean>
	
	<!-- 配置 mybatis 扫描 mapper 接口的路径 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.atguigu.mp.mapper"></property>
	</bean>
	
	<!-- 注意 要在sqlSessionBean那里引用 不然不会生效 -->
	<!-- 配置MP的全局策略 -->
	<bean id="globalConfiguration" class="com.baomidou.mybatisplus.entity.GlobalConfiguration">
		<!-- idType是主键生成策略 0是mysql的自增 -->
		<property name="idType" value="0"></property>
		<!-- 开启驼峰命名法，默认是true -->
		<property name="dbColumnUnderline" value="true"></property>
		<!-- 设置表前缀 -->
		<property name="tablePrefix" value="tbl_"></property>
	</bean>
	
</beans>
